<div class="parallax-container">
   <div class="parallax"><img src="https://soltarlapalabra.files.wordpress.com/2013/03/sol-en-la-ciudad.jpg"></div>
 </div>
 <div class="section white">
   <div class="row container">
     <h2 class="header">Parallax</h2>
     <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
   </div>
 </div>
 <div class="parallax-container">
   <div class="parallax"><img src="http://forum.maxthon.com/uploads/monthly_2016_01/1080p-space_hd-desktop.jpg.9d257ac97398feca1ade0dc93a09f092.jpg"></div>
 </div>
 
