<!DOCTYPE html>
<html>
  <head>
    <title>Stwotwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="blue-grey darken-2 navbar-fixed nav-wrapper">
        <a href="/" class="brand-logo">Steve's Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><div class="outline">
          <div class="chip"><img src="https://lh3.googleusercontent.com/-odftSDSVlc8/AAAAAAAAAAI/AAAAAAAAJ1A/iO0tyrG_9hg/s120-c/photo.jpg">  Steve Two Two</div></div></li>
          <li><a href="/admins/sign_up">Sign Up</a></li>
          <li><a href="admins/sign_in">Sign In</a></li>
          <li><a href="#modal1">Modal</a></li>
        </ul>
      </div>
    </nav>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>login here</h4>
        <p>Input stuff here</p>
      </div>
      <div class="modal-footer">
        <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Continue</a>
        <a href="/" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      </div>
    </div>

      <%= yield %>

    <footer class="blue-grey darken-2 page-footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text">Footer Content</h5>
           <p class="grey-text text-lighten-4">Nice message here</p>
         </div>
         <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Links</h5>
           <ul>
             <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">link 1</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
             <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="blue-grey darken-3 footer-copyright">
       <div class="container">
       © 2017 Steve Two Two
       <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
       </div>
     </div>
   </footer>
  </body>
</html>
